@{
  Layout = "_Layout";
}

<h1>Welcome to Dr. Sillystringz factory!</h1>
<h2>Machines:</h2>
@foreach (var machine in ViewBag.Machines)
{
  <li>@Html.ActionLink($"{machine.Name}", "Details", "Machines", new { id = machine.MachineId }) </li>
}
<h2>Engineers:</h2>
@foreach (var engineer in ViewBag.Engineers)
{
  <li>@Html.ActionLink($"{engineer.Name}", "Details", "Engineers", new { id = engineer.EngineerId }) </li>
}
<p>@Html.ActionLink("Go to Engineers Page", "Index", "Engineers")</p>
<p>@Html.ActionLink("Go to Machines Page", "Index", "Machines")</p>